---
logo_color_f: "#2C444E"
logo_color_a: "#64545E"
logo_color_k: "#838D61"
logo_color_e: "#597887"
logo_color_i: "#89622F"
logo_color_t: "#C9B776"

default_background_color: "white"
---

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    font-family: Georgia, serif;
    margin: 0 auto;
    line-height: 1.3em;
    background:  {{ page.default_background_color }};
    padding: 0.5em;
}

ul { 
    margin: 0px; 
    padding-left: 1.25em;
    padding-right: 1em;
}

h1, h2, h3, h4, h5, h6, .pure-button {
    font-family: Ubuntu, sans-serif;
}

a {
    color: {{ page.logo_color_k }};
    text-decoration: none;
}

.splash h2 {
    color: {{ page.logo_color_k }};
    line-height: 1em;
    display: inline-block;
    text-align: bottom;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* to align the clode block */
.highlight {
    padding-left: 0.75em;
    margin-right: 1em;
}

.content .section {
    border-bottom: 1px solid #eee;
}

.navigation {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pure-button {
    color: {{ page.default_background_color }};
    margin-bottom: 0.5em;
    font-weight: bold;
}

#button-quickstart {
    background: {{ page.logo_color_f }}
}

#button-docs {
    background: {{ page.logo_color_a }}
}

#button-chat {
    background: {{ page.logo_color_k }}
}

#button-project {
    background: {{ page.logo_color_e }}
}

#button-nuget {
    background: {{ page.logo_color_i }}
}

#button-twitter {
    background: {{ page.logo_color_t }}
}

.footer {
    padding-top: 1em;
 }

@media screen and (min-width: 40.5em) {
    body {
        padding: 2em;
        line-height: 1.7em;
    }
}
