:root {
    --logo-color-f: #2C444E;
    --logo-color-a: #64545E;
    --logo-color-k: #838D61;
    --logo-color-e: #597887;
    --logo-color-i: #89622F;
    --logo-color-t: #C9B776;
    --default-background-color: white;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    font-family: Georgia, serif;
    margin: 0 auto;
    line-height: 1.3em;
    background:  var(--default-background-color);
    padding: 0.5em;
}

ul { 
    margin: 0px; 
    padding-left: 1.25em;
    padding-right: 1em;
}

h1, h2, h3, h4, h5, h6, .pure-button {
    font-family: Ubuntu, sans-serif;
}

a {
    color: var(--logo-color-k);
    text-decoration: none;
}

.splash h2 {
    color: var(--logo-color-k);
    line-height: 1em;
    display: inline-block;
    text-align: bottom;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* to align the code block */
.highlight {
    margin-right: 1em;
}

.content .section {
    border-bottom: 1px solid #eee;
}

.navigation {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pure-button {
    color: var(--default-background-color);
    margin-bottom: 0.5em;
    font-weight: bold;
}

#button-quickstart {
    background: var(--logo-color-f)
}

#button-docs {
    background: var(--logo-color-a)
}

#button-chat {
    background: var(--logo-color-k)
}

#button-project {
    background: var(--logo-color-e)
}

#button-nuget {
    background: var(--logo-color-i)
}

#button-twitter {
    background: var(--logo-color-t)
}

@media screen and (min-width: 40.5em) {
    body {
        padding: 2em;
        line-height: 1.7em;
    }
}
