/* Adapted from https: //cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css
 * to use traditional FakeItEasy highlighting colors.
 */
pre code.hljs {
    display: block;
    overflow-x: auto;
}

code.hljs {
    padding: 3px 5px
}

.hljs-addition,
.hljs-attr,
.hljs-attribute,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: #397300
}

.hljs-comment {
    color: #999988;
    font-style: italic;
}

.hljs-deletion,
.hljs-doctag,
.hljs-emphasis {
    font-style: italic
}

.hljs-keyword,
.hljs-link,
.hljs-literal {
    color: #445588;
    font-weight: bold;
}

.hljs-meta .hljs-meta .hljs-meta {
    color: #1f7199
}

.hljs-name,
.hljs-name {
    color: #444
}

.hljs-number,
.hljs-operator,
.hljs-punctuation,
.hljs-quote,
.hljs-regexp,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    font-weight: 700
}

.hljs-string,
.hljs-string {
    color: #38a
}

.hljs-strong {
    font-weight: 700
}

.hljs-symbol,
.hljs-tag .hljs-tag .hljs-tag {
    color: #444a
}

.hljs-template-tag,
.hljs-template-variable,
.hljs-title {
    color: #800;
    font-weight: 700
}

.hljs-type {
    color: #800
}

.hljs-variable {
    color: #ab5656
}

.hljs {
    background: #f8f8f8;
}